@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Cormorant+Infant:ital,wght@1,700&family=Inter:wght@300;600;700&display=swap');
@import './variables';

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  color: $black-text;
  line-height: 130%;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

ul,
nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

video {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 744px) {
    max-width: 744px;
  }

  @media (min-width: 1000px) {
    max-width: 1000px;
    padding: 0 30px;
  }
  @media (min-width: 1600px) {
    max-width: 1600px;
    padding: 0 220px;
  }
}

.scroll_lock {
  overflow-y: hidden;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn {
  padding: 16px 0;
  text-align: center;
  border: none;
  min-width: 240px;
  border-radius: 27px;
  background-color: $pink;
  color: $white-text;
  transition: 0.3s;
  line-height: 130%;

  &:hover {
    background-color: $dark-pink;
  }
}

.accent {
  color: $pink;
}

.arrow_link {
  position: relative;
  display: inline-block;
  padding-right: 13px;
  color: $black-text;
  transition: 0.3s;
  backdrop-filter: blur(1px);

  &:hover {
    color: $pink;
  }

  &:hover::before {
    right: -43px;
  }

  &:hover::after {
    transform: scale(1.2);
    right: -55px;
  }

  &::before {
    content: '';
    position: absolute;
    right: -40px;
    top: 1px;
    transition: 0.3s;
    display: block;
    width: 40px;
    height: 20px;
    padding: 6px 0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='8' viewBox='0 0 40 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.35 4.35a.5.5 0 000-.7L36.17.46a.5.5 0 10-.7.71L38.28 4l-2.83 2.83a.5.5 0 10.71.7l3.18-3.18zM0 4.5h39v-1H0v1z' fill='%23EA4781'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -3px;
    right: -52px;
    height: 28px;
    width: 28px;
    transition: 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='13.5' stroke='%23EA4781'/%3E%3C/svg%3E");
  }
}
