@import '../../variables';

.acquaintance {
  background-color: $light;
  padding: 70px 0 20px;
  position: relative;
  @media (min-width: 744px) {
    padding: 70px 0px 13px;
  }
  @media (min-width: 1000px) {
    padding: 66px 0px 18px;
  }
  @media (min-width: 1600px) {
    padding: 22px 0px 11px;
  }

  &__box {
    @media (min-width: 744px) {
    }
    @media (min-width: 1000px) {
      display: flex;
      flex-direction: row-reverse;
      margin-left: -40px;
      justify-content: flex-end;
    }
    @media (min-width: 1600px) {
      margin-left: -55px;
    }
  }

  &__discription {
    @media (min-width: 1000px) {
      margin: 0 0 auto;
    }
    @media (min-width: 1600px) {
      margin: 68px 0 auto -40px;
    }
    .btn {
      display: block;
      min-width: 260px;
      margin: 50px auto 36px;
      @media (min-width: 744px) {
        margin: 50px auto 27px 80px;
      }
      @media (min-width: 1000px) {
      }
      @media (min-width: 1600px) {
      }
    }
  }
  .marquee {
    position: absolute;
    bottom: 0;
  }

  // .acquaintance__title

  &__title {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    margin: 0 0 60px 20px;

    @media (min-width: 744px) {
      font-size: 28px;
      margin: 0 0 60px 80px;
    }
    @media (min-width: 1000px) {
      margin: 0 0 50px 0;
    }
    @media (min-width: 1600px) {
      margin: 0 0 50px 0;
      font-size: 40px;
    }
    .accent {
      font-family: 'Cormorant Garamond';
      font-style: italic;
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      margin-left: 60px;
      @media (min-width: 744px) {
        font-size: 42px;
        margin-left: 82px;
      }
      @media (min-width: 1000px) {
        margin-left: 80px;
      }
      @media (min-width: 1600px) {
        font-size: 55px;
        margin-left: 98px;
      }
    }
  }

  // .acquaintance__text

  &__text {
    font-size: 14px;
    line-height: 160%;
    margin: 0 20px 30px 20px;

    @media (min-width: 744px) {
      margin-left: 80px;
      max-width: 540px;
    }
    @media (min-width: 1000px) {
      margin: 0 auto 30px 74px;
      width: 380px;
    }
    @media (min-width: 1600px) {
      margin: 0 auto 30px 98px;
      width: 472px;
      font-size: 16px;
    }
    .accent {
      font-style: italic;
      font-weight: 600;
    }
  }

  // .acquaintance__img

  &__img {
    @media (min-width: 744px) {
      width: 476px;
      margin-left: 102px;
    }
    @media (min-width: 1000px) {
      width: 446px;
      margin-left: 0;
    }
    @media (min-width: 1600px) {
      width: 587px;
    }
  }
}
