.bg_top {
  // background-repeat: no-repeat;
  // background-size: 100vw 100%;
  background-image: url(../images/top_mob.svg);
  @media (min-width: 744px) {
    background-image: url(../images/top_tablet.svg);
  }
  @media (min-width: 1600px) {
    background-image: url(../images/top_laptop.svg);
  }
}

.bg_bottom {
  // background-repeat: no-repeat;
  // background-size: 100vw 100%;
  background-image: url(../images/bottom_mob.svg);
  @media (min-width: 744px) {
    background-image: url(../images/bottom_tablet.svg);
  }
  @media (min-width: 1600px) {
    background-image: url(../images/bottom_laptop.svg);
  }
}
