.brands {
  display: block;
  padding: 100px 0 88px 0;

  &__title {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 70px;
  }
  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 150px;
    height: 104px;
    border: 1px solid $pink;
    border-radius: 30px;
  }
}

.accent {
  display: block;
  color: $pink;
  margin-left: 80px;
}
