.main_wrapper {
  @media screen and (min-width: 744px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.right_wrapper {
  @media screen and (min-width: 744px) {
    text-align: end;
  }
}
.footer {
  background-color: $black-text;
  color: $white-text;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 18px;
  @media screen and (min-width: 744px) {
    padding-top: 40px;
    text-align: start;
    padding-bottom: 40px;
  }
}
.location_title {
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 20px;
  @media screen and (min-width: 1600px) {
    margin-bottom: 15px;
  }
}
.phone_link {
  display: inline-block;
  text-decoration: none;
  color: $white-text;
  margin-bottom: 60px;
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 700;
  font-size: 43px;
  line-height: 100%;
  transition: 0.3s;
  &:hover {
    color: $light-pink;
  }
  @media screen and (min-width: 744px) {
    margin-bottom: 23px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 55px;
    margin-bottom: 15px;
  }
}
.social {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  @media screen and (min-width: 744px) {
    justify-content: end;
    margin-bottom: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    transition: 0.3s;
    color: $white-text;
    &:hover {
      color: $light-pink;
    }
    svg {
      display: block;
    }
  }
}
.logo {
  display: inline-block;
  margin-bottom: 30px;
  color: $white-text;
  transition: 0.3s;
  &:hover {
    color: $light-pink;
  }
  @media screen and (min-width: 744px) {
    margin-bottom: 75px;
  }
  &__icon {
    display: block;
    fill: currentColor;
    stroke: currentColor;
  }
}
.footer_link {
  display: block;
  color: $white-text;
  font-size: 14px;
  line-height: 160%;
  transition: 0.3s;
  &:hover {
    color: $light-pink;
  }
}
