.pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.7);
  z-index: 20;

  &__btn {
    color: white;
    position: absolute;
    top: 20;
    right: 20;
    outline: none;
    .iconClose {
      stroke: currentColor;
    }
  }

  &__body {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    outline: 1px solid blue;

    // margin-top: 100px;
    width: 320px;

    @media screen and (min-width: 744px) {
      width: 480px;
    }
    @media screen and (min-width: 1000px) {
      width: 100%;
      // height: 500px;
    }
  }
}
// .video {
//   max-width: 400px;
// }

.slider_gallery .swiper-slide {
  transition: 0.5s ease;
  opacity: 0.4;
  max-height: 660px;
}
.active {
  transition: 0.5s ease;
  opacity: 1;
  transform: scale(0.8);
}

// .card {
//   outline: 3px solid $pink;
//   max-width: 320px;
//   @media screen and (min-width: 744px) {
//   }
//   @media screen and (min-width: 1000px) {
//   }
// }
// .gallery_swiper {
//   outline: 1px solid red;
// }
// .swiper-slide.swiper-slide-active {
//   transform: scale(1.2);
// }
// .button-next,
// .button-prev {
//   position: absolute;
//   z-index: 21;
//   top: 130;
//   color: $white-text;
//   // outline: 1px solid red;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   background-color: transparent;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   @media screen and (min-width: 744px) {
//     top: 190px;
//   }
// }
// .button-prev {
//   left: 20;
// }
// .button-next {
//   rotate: 180deg;
//   right: 20;
// }
// .gallery_container {
//   position: relative;

//   // padding: 0;

//   @media screen and (min-width: 744px) {
//     max-width: 480px;
//   }
//   @media screen and (min-width: 1000px) {
//     // max-width: 100%;
//     // max-height: 100%;
//   }
// }
// .gallery_swiper__pagination {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   bottom: 0;
//   z-index: 21;
//   .bullet,
//   .active_bullet {
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background-color: $white-text;
//     opacity: 0.4;
//     &:not(:last-child) {
//       margin-right: 10px;
//     }
//   }
//   .active_bullet {
//     opacity: 1;
//   }
// }

// .swiper-slide--modified {
//   max-width: 320px;
//   @media screen and (min-width: 744px) {
//     max-width: 480px;
//   }
//   @media screen and (min-width: 1000px) {
//     width: 660px;
//   }
// }
