<footer class="footer_404page">
  <div class="container centered">
    <p class="footer_404page__text">Зв’яжіться зі мною у соціальних мережах:</p>
    <ul class="social social--mod">
      <li class="social__item">
        <a class="social__link social__link--custom" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--custom" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--custom" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--custom" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-WhatsApp"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
