.body_404 {
  text-align: center;
}
.centered_wrap {
  height: 83vh;
  display: flex;
  align-items: center;
}
.page_title {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  margin-bottom: 30px;
  color: $pink;
}
.text {
  margin-left: 65px;
  margin-right: 65px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 34px;
  color: $black-text;
}
.btn {
  &--mod {
    padding: 16px 52px 17px;
  }
}
