@import '../../common';
@import './body';
@import './footer';
body {
  background-image: url(../../../images/404_and_thx_bg_mob.svg);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  @media (min-width: 1000px) {
    background-image: url(../../../images/404_and_thx_bg.svg);
  }
}
