<section class="acquaintance">
  <div class="container">
    <h2 class="acquaintance__title">
      Давайте <br /><span class="accent">познайомимось</span>
    </h2>
    <p class="acquaintance__text">
      Мене звуть Яна Дубинська, я косметолог і всім серцем люблю дарувати красу
      людям.<span class="accent"
        >Ви варті того, щоб бути впевненими у собі на всі 100!</span
      >
    </p>
    <p class="acquaintance__text">
      Сучасні технології дозволяють нам впливати на зовнішність безпечно
      і якісно, надовго зберігати молодість, коригувати недоліки
      та підкреслити переваги.
    </p>
    <button class="btn" type="button">Отримати заявку</button>
    <img
      src="./images/main/acquaintance_photo@1x.png"
      alt="Яна Дубинська"
      class="acquaintance__img"
    />
  </div>
</section>
