<sections class="brands">
  <div class="container">
    <h2 class="brands__title">
      Працюю тільки з кращими <br />
      <span class="accent"> і сертифікованими препаратами</span>
    </h2>
    <ul class="brands__list">
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/rejuran_brand@1x.jpg 1x,
              ./images/main/rejuran_brand@2x.jpg 2x,
              ./images/main/rejuran_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/rejuran_brand@1x.jpg"
            alt="rejuran"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/pbserum_brand@1x.jpg 1x,
              ./images/main/pbserum_brand@2x.jpg 2x,
              ./images/main/pbserum_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/pbserum_brand@1x.jpg"
            alt="pbserum"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/neuramis_brand@1x.jpg 1x,
              ./images/main/neuramis_brand@2x.jpg 2x,
              ./images/main/neuramis_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/neuramis_brand@1x.jpg"
            alt="neuramis"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/hyaron_brand@1x.jpg 1x,
              ./images/main/hyaron_brand@2x.jpg 2x,
              ./images/main/hyaron_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/hyaron_brand@1x.jpg"
            alt="hyaron"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/sardenya_brand@1x.jpg 1x,
              ./images/main/sardenya_brand@2x.jpg 2x,
              ./images/main/sardenya_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/sardenya_brand@1x.jpg"
            alt="sardenya"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/profhilo_brand@1x.jpg 1x,
              ./images/main/profhilo_brand@2x.jpg 2x,
              ./images/main/profhilo_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/profhilo_brand@1x.jpg"
            alt="profhilo"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/juvederm_brand@1x.jpg 1x,
              ./images/main/juvederm_brand@2x.jpg 2x,
              ./images/main/juvederm_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/juvederm_brand@1x.jpg"
            alt="juvederm"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/deneb_brand@1x.jpg 1x,
              ./images/main/deneb_brand@2x.jpg 2x,
              ./images/main/deneb_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/deneb_brand@1x.jpg"
            alt="deneb"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/stylage_brand@1x.jpg 1x,
              ./images/main/stylage_brand@2x.jpg 2x,
              ./images/main/stylage_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/stylage_brand@1x.jpg"
            alt="stylage"
            class="brands__logo"
          />
        </picture>
      </li>
      <li class="brands__item">
        <picture>
          <source
            srcset="
              ./images/main/lipolab_brand@1x.jpg 1x,
              ./images/main/lipolab_brand@2x.jpg 2x,
              ./images/main/lipolab_brand@3x.jpg 3x
            "
          />
          <img
            src="./images/main/lipolab_brand@1x.jpg"
            alt="lipolab"
            class="brands__logo"
          />
        </picture>
      </li>
    </ul>
  </div>
</sections>
