<section>
  <div class="container">
    <h2>
      Зв’яжіться <br />
      <span>зі мною</span>
    </h2>

    <p>
      Бажаєте отримати розгорнуту консультацію? Я підберу комплекс процедур для
      вирішення ваших потреб.
    </p>

    <form>
      <label for="">
        <input type="text" />
      </label>
      <label for="">
        <input type="tel" />
      </label>
      <button type="submit">Залишити заявку</button>
    </form>
    <img src="images/main/feedback@1x.jpg" alt="master" />
  </div>
</section>
