<section class="feedback">
  <div class="container">
    <div class="feed_wrap">
      <div class="wrap">
        <h2 class="feedback__title">
          Зв’яжіться <br />
          <span class="accent">зі мною</span>
        </h2>

        <p class="feedback__article">
          Бажаєте отримати <span class="accent">розгорнуту консультацію</span>?
          Я підберу комплекс процедур для вирішення ваших потреб.
        </p>

        <form class="form">
          <label>
            <input
              class="form__input"
              type="text"
              name="name"
              autocomplete="off"
              placeholder="Ім'я"
            />
          </label>
          <label>
            <input
              type="text"
              class="form__input"
              id="tel"
              name="phone"
              autocomplete="off"
              placeholder="+38"
            />
          </label>
          <button class="btn wide" type="submit">Залишити заявку</button>
        </form>
      </div>
      <picture>
        <source
          srcset="
            ./images/main/feedback@1x.jpg 1x,
            ./images/main/feedback@2x.jpg 2x,
            ./images/main/feedback@3x.jpg 3x
          "
        />
        <img
          class="feedback__picture"
          src="./images/main/feedback@1x.jpg"
          alt="Яна Дубинська"
        />
      </picture>
    </div>
  </div>
</section>
