<footer class="footer">
  <div class="container">
    <p>Полтава, Лубни, Кременчуг</p>
    <a href="tel:+380662947310">+380 66 294 73 10</a>

    <ul class="social">
      <li class="social__item">
        <a href="#">link1</a>
      </li>
      <li class="social__item">
        <a href="#">link2</a>
      </li>
      <li class="social__item">
        <a href="#">link3</a>
      </li>
      <li class="social__item">
        <a href="#">link4</a>
      </li>
    </ul>

    <div>
      <svg class="main" width="122" height="33">
        <use href="#"></use>
      </svg>
    </div>
    <a href="#">Розробка сайту Medovyk</a>
  </div>
</footer>

<!-- <li class="social-media__item">
  <a href="" class="social-media__link">
    <svg class="social-media__icon" width="20" height="20">
      <use href="./images/symbol-defs.svg#icon-linkedin"></use>
    </svg>
  </a>
</li> -->
