<footer class="footer">
  <div class="container">
    <p class="location_title">Полтава, Лубни, Кременчуг</p>
    <a class="phone_link" href="tel:+380662947310">+380 66 294 73 10</a>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-WhatsApp"></use>
          </svg>
        </a>
      </li>
    </ul>

    <a class="logo" href="#">
      <svg class="logo__icon" width="112" height="33">
        <use href="./images/main/symbol-defs.svg#icon-Logo_1"></use>
      </svg>
    </a>
    <a class="footer_link" href="#">Розробка сайту Medovyk</a>
  </div>
</footer>
