<footer class="footer">
  <div class="container">
    <p>Полтава, Лубни, Кременчуг</p>
    <a href="tel:+380662947310">+380 66 294 73 10</a>

    <ul class="social">
      <li class="social__item">
        <a href="#">
          <svg class="main" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="main" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="main" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-Telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#">
          <svg class="main" width="40" height="40">
            <use href="./images/main/symbol-defs.svg#icon-WhatsApp"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div>
      <svg class="main" width="112" height="33">
        <use href="./images/main/symbol-defs.svg#icon-Logo_1"></use>
      </svg>
    </div>
    <a href="#">Розробка сайту Medovyk</a>
  </div>
</footer>
