<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./" class="nav__logo">
        <svg>
          <use></use>
        </svg>
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Послуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Результати</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Відгуки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакти</a></li>
      </ul>
    </nav>
    <button class="btn" type="button">Залишити заявку</button>
    <a class="ins_link" href="#">
      <svg>
        <use></use>
      </svg>
    </a>
    <button class="burger_open">
      <svg>
        <use></use>
      </svg>
    </button>
  </div>
</header>
