<section class="hero">
  <div class="container">
    <div class="hero_box">
      <img src="./images/main/hero_mob.jpg" alt="Яна Дубинська" />
      <div class="hero_discription">
        <ul class="btn_list">
          <li class="btn_list__item">
            <button class="city_btn">Полтава</button>
          </li>
          <li class="btn_list__item">
            <button class="city_btn">Кременчук</button>
          </li>
          <li class="btn_list__item">
            <button class="city_btn">Лубни</button>
          </li>
        </ul>
        <h1 class="hero_title">
          <span>Лікар-косметолог</span><span class="accent">Яна Дубинська</span>
        </h1>
        <p>
          Допомагаю пацієнтам зберегти молодість і красу. Всі види ін’єкційної
          косметології, контурна пластика, підтяжка нитками, омолодження.
        </p>
      </div>
    </div>
  </div>
</section>
