<section class="hero">
  <div class="container">
    <div class="hero__box">
      <img
        class="hero__img"
        src="./images/main/hero_img@1x.jpg"
        alt="Яна Дубинська"
      />
      <div class="hero__discription">
        <ul class="btn_list">
          <li class="btn_list__item">
            <button class="city_btn">Полтава</button>
          </li>
          <li class="btn_list__item">
            <button class="city_btn">Кременчук</button>
          </li>
          <li class="btn_list__item">
            <button class="city_btn">Лубни</button>
          </li>
        </ul>
        <h1 class="hero__title">
          <span>Лікар-косметолог</span><br /><span class="accent"
            >Яна Дубинська</span
          >
        </h1>
        <p class="hero__text">
          Допомагаю пацієнтам
          <span class="accent">зберегти молодість і красу</span>. Всі види
          ін’єкційної косметології, контурна пластика, підтяжка нитками,
          омолодження.
        </p>
        <button class="btn">Записатися на прийом</button>
        <a href="#">Про мене</a>
      </div>
    </div>
  </div>
</section>
