<section class="hero">
  <div class="container">
    <div class="hero__box">
      <picture>
        <source
          srcset="
            ./images/main/hero_img@1x.jpg 1x,
            ./images/main/hero_img@2x.jpg 2x,
            ./images/main/hero_img@3x.jpg 3x
          "
        />
        <img
          class="hero__img"
          src="./images/main/hero_img@1x.jpg"
          alt="Яна Дубинська"
        />
      </picture>
      <div class="hero__discription">
        <ul class="city_list">
          <li class="city_list__item">
            <span class="city_name accent">Полтава</span>
          </li>
          <li class="city_list__item">
            <span class="city_name">Кременчук</span>
          </li>
          <li class="city_list__item">
            <span class="city_name">Лубни</span>
          </li>
        </ul>
        <h1 class="hero__title">
          Лікар-косметолог<br /><span class="accent">Яна Дубинська</span>
        </h1>
        <p class="hero__text">
          Допомагаю пацієнтам
          <span class="accent">зберегти молодість і красу</span>. Всі види
          ін’єкційної косметології, контурна пластика, підтяжка нитками,
          омолодження.
        </p>
        <button class="btn">Записатися на прийом</button>
        <a href="#" class="arrow_link">Про мене</a>
      </div>
    </div>
  </div>
</section>
