<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews__title">
      Краще за будь-які слова <br />
      <span class="accent">скажуть відгуки моїх пацієнток</span>
    </h2>
    <div class="position_wrapper">
      <div class="reviews__swiper">
        <div class="reviews__list">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="reviews__slide">
                <img src="./images/main/reviews1@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews2@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews3@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews4@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews5@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews6@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews7@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews8@1x.jpg" alt="Відгуки" />
              </div>
              <div class="reviews__slide">
                <img src="./images/main/reviews9@1x.jpg" alt="Відгуки" />
              </div>
            </div>
          </div>
        </div>
        <div class="pagination"></div>
        <button
          class="swipe_btn left swiper-button-prev"
          aria-label="Попередній відгук"
        >
          &#8249;
        </button>
        <button
          class="swipe_btn right swiper-button-next"
          aria-label="Наступний відгук"
        >
          &#8250;
        </button>
      </div>
      <div>
        <p class="reviews__article">
          <span class="accent">Підписуйтесь на мій Instagram.</span> Там я щодня
          публікую нові роботи, ще більше відгуків і корисну інформацію по
          догляду за собою.
        </p>

        <div class="inst__wrapper">
          <picture>
            <source
              srcset="
                ./images/main/photo_instagram@1x.jpg 1x,
                ./images/main/photo_instagram@2x.jpg 2x,
                ./images/main/photo_instagram@3x.jpg 3x
              "
            />
            <img
              class="link_logo"
              src="./images/main/photo_instagram@1x.jpg"
              alt="cosmetologist"
            />
          </picture>
          <a
            class="arrow_link"
            href="#https://www.instagram.com/8cosm_yana_dr/"
            target="_blank"
          >
            Перейти в Instagram
          </a>
        </div>
      </div>
    </div>
  </div>
  <a
    class="marquee"
    href="https://www.instagram.com/8cosm_yana_dr/"
    target="_blank"
  >
    <p class="marquee__text js-reviews-marquee">
      Підписуйтесь на мій Instagram<span>❤</span>
    </p>
  </a>
</section>
