<section>
  <div class="container">
    <h2>
      Краще за будь-які слова <br />
      <span>скажуть відгуки моїх</span> <br />
      <span>пацієнток</span>
    </h2>

    <img src="images/main/Відгук.png" alt="zagugulina" />

    <p>
      <span>Підписуйтесь на мій Instagram.</span> Там я щодня публікую нові
      роботи, ще більше відгуків і корисну інформацію по догляду за собою.
    </p>
    <div class="wrapper">
      <img
        src="images/main/Photo_instagram.png"
        alt="cosmetologist"
        width="130px"
      />
      <!-- <a class="arrow_link" href="#">Перейти в Instagram</a> -->
    </div>
  </div>
  <p class="marquee"><span>Підписуйтесь на мій Instagram </span></p>
</section>
