<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      Краще за будь-які слова <br />
      <div class="span_wrapper">
        <span class="accent">скажуть відгуки моїх</span>
        <span class="accent"> пацієнток</span>
      </div>
    </h2>
    <div class="position_wrapper">
      <div class="reviews__swiper">
        <p>Когда-то тут будет красиво</p>
        <!-- <img class="phone" src="images/main/phone_vector.png" alt="zagugulina" /> -->
        <!-- <img class="ellipse" src="images/main/Ellipse 62.png" alt="Ellipse" /> -->
      </div>
      <div class="content_wrap">
        <p class="reviews__article">
          <span class="accent">Підписуйтесь на мій Instagram.</span> Там я щодня
          публікую нові роботи, ще більше відгуків і корисну інформацію по
          догляду за собою.
        </p>
        <div class="reviews__wrapper">
          <img
            class="link_logo"
            src="images/main/Photo_instagram.png"
            alt="cosmetologist"
            width="130px"
          />
          <a class="arrow_link arrow_link--custom" href="#">
            Перейти в Instagram</a
          >
        </div>
      </div>
    </div>
  </div>
  <h2 class="marquee"><span>Підписуйтесь на мій Instagram </span></h2>
</section>
