<section class="services">
  <div class="container">
    <h2 class="title">
      За якими послугами <br /><span class="accent">звертаються до мене</span>
    </h2>
    <p class="services__text">
      Допоможу <span class="accent">підібрати процедури</span> саме для вас,
      в залежності від потреб і особистих побажань.
    </p>
    <ul class="services__list">
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services1@1x.jpg 1x,
              ./images/main/services1@2x.jpg 2x,
              ./images/main/services1@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services1@1x.jpg"
            alt="Контурна пластика
          "
            class="services__img"
          />
        </picture>
        <h3 class="services__title">Контурна пластика</h3>
        <p class="services__discription">
          Корекція форми і об’єма губ, вилиць, підборіддя, форми носа. Корекція
          носослізної борозди, носогубних складок і зморшок
        </p>
      </li>
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services2@1x.jpg 1x,
              ./images/main/services2@2x.jpg 2x,
              ./images/main/services2@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services2@1x.jpg"
            alt="Нитьовий ліфтинг
          "
            class="services__img"
          />
        </picture>
        <h3 class="services__title">Нитьовий ліфтинг</h3>
        <p class="services__discription">
          Підтяжка обличчя, шиї, брів спеціальними ревіталізуючими нитками.
          Ліфтинг «Лисячий погляд». Нитки Моно, Screw, Cogg та ін.
        </p>
      </li>
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services3@1x.jpg 1x,
              ./images/main/services3@2x.jpg 2x,
              ./images/main/services3@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services3@1x.jpg"
            alt="Блокування зморщок"
            class="services__img"
          />
          <h3 class="services__title">Блокування зморщок</h3>
        </picture>
        <p class="services__discription">
          Корекція (усунення) мімічних зморшок за допомогою препаратів
          ботулотоксину. Міжбрівна зона, лоб, зона навколо очей та ін.
        </p>
      </li>
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services4@1x.jpg 1x,
              ./images/main/services4@2x.jpg 2x,
              ./images/main/services4@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services4@1x.jpg"
            alt="Біоревіталізація"
            class="services__img"
          />
          <h3 class="services__title">Біоревіталізація</h3>
        </picture>
        <p class="services__discription">
          Омолодження шкіри шляхом введення Гіалуронової кислоти
        </p>
      </li>
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services5@1x.jpg 1x,
              ./images/main/services5@2x.jpg 2x,
              ./images/main/services5@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services5@1x.jpg"
            alt="Мезотерапія"
            class="services__img"
          />
          <h3 class="services__title">Мезотерапія</h3>
        </picture>
        <p class="services__discription">
          Ін’єкції мезококтейлів, для лікування акне, куперозу, пігментних плям
          та ін.
        </p>
      </li>
      <li class="services__item">
        <picture>
          <source
            srcset="
              ./images/main/services6@1x.jpg 1x,
              ./images/main/services6@2x.jpg 2x,
              ./images/main/services6@3x.jpg 3x
            "
          />
          <img
            src="./images/main/services6@1x.jpg"
            alt="Ліполітики"
            class="services__img"
          />
          <h3 class="services__title">Ліполітики</h3>
        </picture>
        <p class="services__discription">
          Ін’єкції для зменшення локальних жирових відкладень
        </p>
      </li>
    </ul>
  </div>
</section>
