<section class="work" id="work_res">
  <div class="container">
    <h2 class="work__title">
      Результати <br /><span class="accent">моєї роботи</span>
    </h2>
    <p class="work__text">
      Подивіться на <span class="accent">неймовірні результати</span>, яких ми
      досягаємо завдяки сучасній косметології!
    </p>

    <ul class="work__list">
      <li class="work__item">
        <picture>
          <source
            srcset="
              ./images/main/work_img_1@1x.webp 1x,
              ./images/main/work_img_1@2x.webp 2x,
              ./images/main/work_img_1@3x.webp 3x
            "
          />
          <source
            srcset="
              ./images/main/work_img_1@1x.jpg 1x,
              ./images/main/work_img_1@2x.jpg 2x,
              ./images/main/work_img_1@3x.jpg 3x
            "
          />
          <img
            src="./images/main/work_img_1@1x.jpg"
            alt="Корекція форми губ"
            class="work__img"
          />
        </picture>
        <div class="thumb">
          <h3 class="work__item_title">Корекція форми губ</h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
      <li class="work__item">
        <picture>
          <source
            srcset="
              ./images/main/work_img_2@1x.webp 1x,
              ./images/main/work_img_2@2x.webp 2x,
              ./images/main/work_img_2@3x.webp 3x
            "
          />
          <source
            srcset="
              ./images/main/work_img_2@1x.jpg 1x,
              ./images/main/work_img_2@2x.jpg 2x,
              ./images/main/work_img_2@3x.jpg 3x
            "
          />
          <img
            src="./images/main/work_img_2@1x.jpg"
            alt="Корекція зморшок"
            class="work__img"
          />
        </picture>
        <div class="thumb">
          <h3 class="work__item_title">Корекція зморшок</h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
      <li class="work__item">
        <picture>
          <source
            srcset="
              ./images/main/work_img_3@1x.webp 1x,
              ./images/main/work_img_3@2x.webp 2x,
              ./images/main/work_img_3@3x.webp 3x
            "
          />
          <source
            srcset="
              ./images/main/work_img_3@1x.jpg 1x,
              ./images/main/work_img_3@2x.jpg 2x,
              ./images/main/work_img_3@3x.jpg 3x
            "
          />
          <img
            src="./images/main/work_img_3@1x.jpg"
            alt="Корекція форми носа, вилиць, підборіддя"
            class="work__img"
          />
        </picture>
        <div class="thumb">
          <h3 class="work__item_title">
            Корекція форми носа, вилиць, підборіддя
          </h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="pop_up is-hidden">
    <div class="pop_up__body">
      <div class="pop_up__content">
        <button class="pop_up__btn" type="button">
          <svg class="pop_up__iconClose" width="20" height="20">
            <use href="./images/main/symbol-defs.svg#close_icon_gallery"></use>
          </svg>
        </button>
        <div class="gallery_swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="images/main/work_img_1@2x.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="images/main/work_img_2@2x.jpg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="images/main/work_img_3@2x.jpg" alt="" />
            </div>
          </div>
          <!-- If we need pagination -->
          <!-- <div class="gallery_swiper__pagination">pag</div> -->

          <!-- If we need navigation buttons -->
          <div class="button-prev"><</div>
          <div class="button-next">></div>
        </div>
      </div>
    </div>
  </div>
</section>
