<section class="work">
  <div class="container">
    <h2 class="work__title">
      Результати <br /><span class="accent">моєї роботи</span>
    </h2>
    <p class="work__text">
      Подивіться на <span class="accent">неймовірні результати</span>, яких ми
      досягаємо завдяки сучасній косметології!
    </p>

    <ul class="work__list">
      <li class="work__item">
        <img
          src="./images/main/work_img_1@3x.jpg"
          alt="Корекція форми губ"
          class="work__img"
        />
        <div class="thumb">
          <h3 class="work__item_title">Корекція форми губ</h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
      <li class="work__item">
        <img
          src="./images/main/work_img_2@3x.jpg"
          alt="Корекція зморшок"
          class="work__img"
        />
        <div class="thumb">
          <h3 class="work__item_title">Корекція зморшок</h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
      <li class="work__item">
        <img
          src="./images/main/work_img_3@3x.jpg"
          alt="Корекція форми носа, вилиць, підборіддя"
          class="work__img"
        />
        <div class="thumb">
          <h3 class="work__item_title">
            Корекція форми носа, вилиць, підборіддя
          </h3>
          <button class="arrow_link" type="button">Дивитись</button>
        </div>
      </li>
    </ul>
  </div>
</section>
